* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/**Style the Header  */

#header {
  background: black;
  padding: 10px;
  text-align: left;
  color: white;
}

/**Style the map */

#map {
  float: left;
  height: 75vh;
  width: 70%;
  transition: margin-right 0.5s;
}

#footer {
  padding-bottom: 13px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: black;
  color: white;
  font-size: 10px;

  text-align: center;
}

#headerLogo {
  float: left;
  margin: 20px;
}

/** 
 *  NavBar Properties
 */

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navItem {
  float: left;
}

.navItem .navContent {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navItem .navContent:hover {
  background-color: #111;
}

#directions {
  width: auto;
  height: 100vh;
  margin-top: 20%;
  padding: 0%;
  text-align: center;
  color: red;
  background-color: white;
}

#itemList {
  float: right;
  width: 30%;
  height: 600px;
  margin: 0;
  padding: 0;
  text-align: center;
  background: white;
  cursor: pointer;
}

#directionsPanel {
  float: right;
  width: auto;
  height: auto;
}

/* List on the left */

#scrollbox {
  border: 1px solid black;
  width: auto;
  height: 75vh;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Fix list images and Text */

#image {
  display: block;
  height: 80px;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
}

#imgDiv {
  float: left;
}

#divText {
  margin: 5px;
  font-size: medium;
}

/* LIST & Directions Side Bar toggle on or off */

.sidenav {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-right 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* legend css */
#legend {
  font-family: Arial, sans-serif;
  background: white;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}

#legend h3 {
  margin-top: 0;
  padding-left: 125px;
  text-align: center;
  display: inline-block;
}
#legend img {
  vertical-align: middle;
}
